@using System.Linq
@model Application.Models.SinglePlayerModel

@{
    ViewBag.Title = "Dodavanje novog igrača";
}

<h2>Informacije o novom igraču:</h2>
@using (Html.BeginForm("Add", "Player", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <div class="container">
        <form role="form">
            <table class="table-responsive col-md-12 table-hover table-condensed" style="margin-bottom:5px">
                <tr>
                    <td colspan="2" style="color:red; font-weight:bold">@TempData["Greska"]</td>
                </tr>
                <tr>
                    <td class="col-md-2">Ime:</td>
                    <td>@Html.TextBoxFor(m => m.Player.Name, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td class="col-md-2">Sport:</td>
                    <td>@Html.DropDownListFor(m => m.Player.Sport.ID, ((System.ComponentModel.BindingList<EFDatabase.Sport>)ViewBag.Sportovi).OrderBy(d => d.Name).Select(d => new SelectListItem { Text = d.Name, Value = d.ID.ToString() }), new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td class="col-md-2">Datum rođenja:</td>
                    <td>@Html.TextBoxFor(m => m.Player.Date_of_birth, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td class="col-md-2">Spol:</td>
                    <td>Muški @Html.RadioButtonFor(model => model.Sex, "false", new { id = "male" })</td>
                </tr>
                <tr>
                    <td class="col-md-2"></td>
                    <td>Ženski @Html.RadioButtonFor(model => model.Sex, "true", new { id = "female", @checked = true })</td>
                </tr>
                <tr>
                    <td class="col-md-2">Država:</td>
                    <td>@Html.TextBoxFor(m => m.Player.Country, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td class="col-md-2">Slika igrača:</td>
                    <td class="editor-field">
                        <input id="Image" name="Image" title="Odaberi sliku igrača" type="file" />
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2" style="vertical-align: top;">Dodatne informacije o igraču:</td>
                    <td class="col-md-10">@Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @style = "max-width:500px; height:250px" })</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-default">Unesi novog igrača</button>
        </form>
    </div>
}

