@using System
@using EFDatabase
@model Application.Models.SinglePlayerModel

@{
    ViewBag.Title = "Podaci o igraču";
}

<h2>Informacije o igraču:</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <form role="form">
            @Html.HiddenFor(m => m.Player.ID)
            <table class="table-responsive col-md-12 table-hover table-condensed" style="margin-bottom: 5px">
                <tr>
                    <td class="col-md-2">Ime igrača:</td>
                    <td>@Model.Player.Name</td>
                </tr>
                <tr>
                    <td class="col-md-2">Sport:</td>
                    <td>@Model.Player.Sport.Name</td>
                </tr>
                <tr>
                    <td class="col-md-2">Spol:</td>
                    <td>@Model.Player.Sex</td>
                </tr>
                <tr>
                    <td class="col-md-2">Datum rođenja:</td>
                    <td>@Model.Player.Date_of_birth.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="col-md-2">Država:</td>
                    <td>@Model.Player.Country</td>
                </tr>
                @{
                    var base64 = Convert.ToBase64String(Model.Player.Picture);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <tr>
                    <td class="col-md-2">Slika igrača:</td>
                    <td><img src="@imgSrc" width="150" height="150"/></td>
                </tr>
                <tr>
                    <td class="col-md-2">Klub u kojem igrač igra:</td>
                    @foreach (Team_player team in Model.Player.Play_in_team)
                    {
                        <td>@team.Team.Name</td>
                    }
                </tr>
                <tr>
                    <td class="col-md-2" style="font-size: large; font-weight: bold">Komentari:</td>
                </tr>
                @foreach (Player_comment comment in Model.Player.Player_comments)
                {
                    <tr>

                        <td>@comment.User.Username, @comment.Date.ToShortDateString() @comment.Date.Hour:@comment.Date.Minute</td>
                        <td>@comment.Comment</td>

                    </tr>
                }
                <tr>
                    <td class="col-md-2">Novi komentar:</td>
                    <td class="col-md-10" colspan="2">@Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @style = "max-width:500px; height:250px" })</td>
                </tr>
            </table>
        </form>
        <button type="submit" class="btn btn-default">Dodaj novi komentar</button>
        @if (TempData["Username"].Equals(@Model.Player.User.Username))
        {
            @Html.ActionLink("Uredi podatke o igraču", "Edit", new { id = @Model.Player.ID }, new { @class = "btn btn-default" })
        }
    </div>
}

