<!DOCTYPE html>
<style>
    .logo {
        font-weight: bold;
        text-shadow: 1px 1px 1px #FFFFFF;
    }
    .navbar-custom {
        background-color: #0a9226;
        border-color: #20a753;
    }
    .navbar-custom .navbar-brand {
        color: #ffffff;
    }
    .navbar-custom .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #20a753;
    }
    .navbar-custom .navbar-text {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #20a753;
    }
    .navbar-custom .navbar-nav > li > .dropdown-menu {
        background-color: #0a9226;
    }
    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #f6f6f6;
        background-color: #20a753;
    }
    .navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
        background-color: #0a9226;
    }
    .navbar-custom .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #f6f6f6;
        background-color: #20a753;
    }
    .navbar-custom .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #f6f6f6;
        background-color: #20a753;
    }
    .navbar-custom .navbar-toggle {
        border-color: #20a753;
    }
    .navbar-custom .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #20a753;
    }
    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-custom .navbar-collapse, .navbar-default .navbar-form {
        border-color: #ffffff;
    }
    .navbar-custom .navbar-link {
        color: #ffffff;
    }
    .navbar-custom .navbar-link:hover {
        color: #20a753;
    }
    @@media (max-width: 767px) {
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f6f6f6;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f6f6f6;
        background-color: #20a753;
      }
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
</head>
<body>
    @if (Request.Cookies["user"] != null)
    {
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <a class="logo navbar-brand navbar-right"><p><span style="color: deepskyblue">S</span><span style="color: yellow">P</span><span style="color: black">O</span><span style="color: forestgreen">R</span><span style="color: red">T</span>PEDIA</p></a>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a style="font-size:large" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>@TempData["Username"] <span class="caret"></span></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Profil", "Racun", "User")</li>
                            <li>@Html.ActionLink("Uredi osobne podatke", "Edit", "User")</li>
                            <li>@Html.ActionLink("Odjava", "Logout", "User")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sport <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Svi sportovi", "Sports", "Sport")</li>
                            @if (TempData["Permission"].Equals("admin"))
                            {
                                <li>@Html.ActionLink("Dodaj novi sport", "Add", "Sport")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Klub <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Svi klubovi", "Teams", "Team")</li>
                            @if (!TempData["Permission"].Equals("user"))
                            {
                                <li>@Html.ActionLink("Dodaj novi klub", "Add", "Team")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Igrač <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Svi igrači", "Players", "Player")</li>
                            <li>@Html.ActionLink("Dodaj novog igrača", "Add", "Player")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Natjecanje <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Sva natjecanja", "Competitions", "Competition")</li>
                            <li>@Html.ActionLink("Dodaj novo natjecanje", "Add", "Competition")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sportpedia by Davor Nekić, v0.75</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
